<%- include("includes/head.ejs"); %>

    <body>
        <h1>Instagram</h1>
        <h2>This Page Belongs To @<%= data.name %>
        </h2>
        <p>Followers : <%= data.followers %>
                &nbsp;&nbsp;&nbsp;&nbsp;
                Following : <%= data.following %>
        </p>
        <button>Follow</button>
        <button>Message</button>
        <hr>
        <h2>Posts :</h2>
        <% for (let post of data.posts) {%>
            <img src="<%= post.image %>" alt="post">
            <p>
                Likes : <%= post.likes %> &nbsp;&nbsp;&nbsp;&nbsp; Comments : <%= post.comments %>
            </p>
            <% } %>

                <%- include("includes/footer.ejs"); %>
    </body>

    </html>